## **5. Scaling**
---

Now, we'll:
- Construct the scorecards.
- Create the dictionary for the points map.
- Estimate the credit score based on an input.

### **5.1 Create Scorecards**
---

Give a score to each attribute by indicating: - 20 PDO (points to double the odds of good) and - Odds of good of 30:1 at 300 points score.

Thus, we can calculate the offset and factor:
- $\text{Factor}=\text{PDO}/ \ln(2)$
- $\text{Offset} = \text{Score} − {\text{Factor} ∗ \ln (\text{Odds of good})}$

In [1]:
# Import library
import pandas as pd
import numpy as np

# Load configuration
import src.utils as utils

To define the references and dump the scorecards, update the configuration file.

In [2]:
# Update the config file 
CONFIG_DATA = utils.load_config()
CONFIG_DATA

{'raw_data_path': 'data/raw/credit_dataset.csv',
 'data_path': 'data/output/data.pkl',
 'predictors_set_path': 'data/output/predictors.pkl',
 'target_set_path': 'data/output/target.pkl',
 'train_path': ['data/output/X_train.pkl', 'data/output/y_train.pkl'],
 'test_path': ['data/output/X_test.pkl', 'data/output/y_test.pkl'],
 'data_train_path': 'data/output/data_train.pkl',
 'data_train_binned_path': 'data/output/data_train_binned.pkl',
 'crosstab_list_path': 'data/output/crosstab_list.pkl',
 'WOE_table_path': 'data/output/WOE_table.pkl',
 'IV_table_path': 'data/output/IV_table.pkl',
 'WOE_map_dict_path': 'data/output/WOE_map_dict.pkl',
 'X_train_woe_path': 'data/output/X_train_woe.pkl',
 'target_variable': 'Credit_Score',
 'test_size': 0.3,
 'num_columns': ['Age',
  'Annual_Income',
  'Num_of_Loan',
  'Num_of_Delayed_Payment',
  'Outstanding_Debt',
  'Monthly_Inhand_Salary',
  'Num_Credit_Inquiries',
  'Credit_Utilization_Ratio',
  'Total_EMI_per_month',
  'Num_Bank_Accounts',
  'Num_Credit_Card',
  'Interest_Rate',
  'Delay_from_due_date',
  'Amount_invested_monthly',
  'Monthly_Balance',
  'Changed_Credit_Limit',
  'Credit_History_Age'],
 'cat_columns': ['Occupation',
  'Type_of_Loan',
  'Credit_Mix',
  'Payment_of_Min_Amount',
  'Payment_Behaviour'],
 'missing_columns': ['Age_bin',
  'Num_Bank_Accounts_bin',
  'Num_Credit_Card_bin',
  'Interest_Rate_bin',
  'Num_of_Loan_bin',
  'Num_of_Delayed_Payment_bin',
  'Num_Credit_Inquiries_bin',
  'Monthly_Balance_bin'],
 'num_of_bins': 4,
 'num_of_cv': 10,
 'scoring': 'recall',
 'forward_models_path': 'models/forward_models.pkl',
 'best_predictors_path': 'models/best_predictors_path.pkl',
 'best_model_path': 'models/best_model.pkl',
 'best_model_summary_path': 'models/best_model_summary.pkl',
 'pdo': 20,
 'score_ref': 300,
 'odds_ref': 30,
 'scorecards_path': 'models/scorecards.pkl',
 'points_map_dict_path': 'models/points_map_dict.pkl',
 'X_points_path': 'models/X_points.pkl',
 'X_train_points_path': 'models/X_train_points.pkl',
 'score_path': 'models/score_path.pkl',
 'cutoff_score': 150,
 'columns_': ['person_age_bin',
  'person_income_bin',
  'person_emp_length_bin',
  'loan_amnt_bin',
  'loan_int_rate_bin',
  'loan_percent_income_bin',
  'cb_person_cred_hist_length_bin',
  'person_home_ownership',
  'loan_intent',
  'loan_grade',
  'cb_person_default_on_file']}

In [11]:
# The function that transforms the model's output into points
def scaling():
    """The function that transforms the model's output into points"""

    # Describe the references (pdo, score, and odds).
    pdo = CONFIG_DATA['pdo']
    score = CONFIG_DATA['score_ref']
    odds = CONFIG_DATA['odds_ref']

    # Load the best model
    best_model_path = CONFIG_DATA['best_model_path']
    best_model = utils.load_pickle(best_model_path)

    # Load the WOE table
    WOE_table_path = CONFIG_DATA['WOE_table_path']
    WOE_table = utils.load_pickle(WOE_table_path)

    # Load the best model's estimates table
    best_model_summary_path = CONFIG_DATA['best_model_summary_path']
    best_model_summary = utils.load_pickle(best_model_summary_path)

    # Calculate Factor and Offset
    factor = pdo/np.log(2)
    offset = score-(factor*np.log(odds))

    print('===================================================')
    print(f"Odds of good of {odds}:1 at {score} points score.")
    print(f"{pdo} PDO (points to double the odds of good).")
    print(f"Offset = {offset:.2f}")
    print(f"Factor = {factor:.2f}")
    print('===================================================')

    # Define n = number of characteristics
    n = best_model_summary.shape[0] - 1

    # Define b0
    b0 = best_model.intercept_[0]

    # Change the name of the characteristic in best_model_summary_table.
    num_cols = CONFIG_DATA['num_columns']
    for col in best_model_summary['Characteristic']:

        if col in num_cols:
            bin_col = col + '_bin'
        else:
            bin_col = col

        best_model_summary.replace(col, bin_col, inplace = True) 

    # To obtain a beta or parameter estimate for each characteristic, merge tables.
    scorecards = pd.merge(left = WOE_table,
                          right = best_model_summary,
                          how = 'left',
                          on = ['Characteristic'])
    
    # Define beta and WOE
    beta = scorecards['Estimate']
    WOE = scorecards['WOE']

    # Determine the point value for every attribute.
    scorecards['Points'] = round((offset/n) - factor*((b0/n) + (beta*WOE)))
    try :
        scorecards['Points'] = scorecards['Points'].astype('int')
    except Exception:
        pass

    # Validation
    print('Scorecards table shape : ', scorecards.shape)
    
    # Dump the scorecards
    scorecards_path = CONFIG_DATA['scorecards_path']
    utils.dump_pickle(scorecards, scorecards_path)

    return scorecards

In [16]:
scaling()

===================================================
Odds of good of 30:1 at 300 points score.
20 PDO (points to double the odds of good).
Offset = 201.86
Factor = 28.85
===================================================
Scorecards table shape :  (112, 5)

,Characteristic,Attribute,WOE,Estimate,Points
0,Age_bin,"(13.999, 24.0]",-0.294877,0.266541,21.0
1,Age_bin,"(24.0, 33.0]",-0.120788,0.266541,19.0
2,Age_bin,"(33.0, 41.0]",-0.157248,0.266541,20.0
3,Age_bin,"(41.0, 55.0]",0.594385,0.266541,14.0
4,Age_bin,Missing,0.123833,0.266541,18.0
5,Annual_Income_bin,"(7005.929, 18921.78]",-0.701343,0.110433,21.0
6,Annual_Income_bin,"(18921.78, 36346.13]",0.096058,0.110433,18.0
7,Annual_Income_bin,"(36346.13, 70112.78]",-0.149729,0.110433,19.0
8,Annual_Income_bin,"(70112.78, 23658189.0]",0.674363,0.110433,16.0
9,Num_of_Loan_bin,"(0.999, 2.0]",0.676677,0.285725,13.0
10,Num_of_Loan_bin,"(2.0, 4.0]",0.570645,0.285725,14.0
11,Num_of_Loan_bin,"(4.0, 6.0]",-1.327419,0.285725,29.0
12,Num_of_Loan_bin,"(6.0, 10.0]",-1.478077,0.285725,31.0
13,Num_of_Loan_bin,Missing,-0.199567,0.285725,20.0
14,Num_of_Delayed_Payment_bin,"(-3.001, 9.0]",1.162537,0.226606,11.0
15,Num_of_Delayed_Payment_bin,"(9.0, 14.0]",0.312436,0.226606,16.0
16,Num_of_Delayed_Payment_bin,"(14.0, 18.0]",-0.555739,0.226606,22.0
17,Num_of_Delayed_Payment_bin,"(18.0, 887.0]",-1.298094,0.226606,27.0
18,Num_of_Delayed_Payment_bin,Missing,0.529298,0.226606,15.0
19,Outstanding_Debt_bin,"(0.229, 603.87]",0.979920,NaN,NaN
20,Outstanding_Debt_bin,"(603.87, 1237.12]",0.900469,NaN,NaN
21,Outstanding_Debt_bin,"(1237.12, 2094.49]",-0.443751,NaN,NaN
22,Outstanding_Debt_bin,"(2094.49, 4998.07]",-2.474733,NaN,NaN
23,Monthly_Inhand_Salary_bin,"(319.555, 1587.629]",-0.649268,0.061898,20.0
24,Monthly_Inhand_Salary_bin,"(1587.629, 3012.665]",0.035592,0.061898,18.0
25,Monthly_Inhand_Salary_bin,"(3012.665, 5796.608]",-0.169678,0.061898,19.0
26,Monthly_Inhand_Salary_bin,"(5796.608, 15167.18]",0.712941,0.061898,17.0
27,Num_Credit_Inquiries_bin,"(-0.001, 2.0]",1.121693,NaN,NaN
28,Num_Credit_Inquiries_bin,"(2.0, 4.0]",0.940445,NaN,NaN
29,Num_Credit_Inquiries_bin,"(4.0, 8.0]",-0.752544,NaN,NaN
30,Num_Credit_Inquiries_bin,"(8.0, 12.0]",-2.943975,NaN,NaN
31,Num_Credit_Inquiries_bin,Missing,0.084612,NaN,NaN
32,Credit_Utilization_Ratio_bin,"(21.705, 28.142]",-0.088458,NaN,NaN
33,Credit_Utilization_Ratio_bin,"(28.142, 32.225]",0.009969,NaN,NaN
34,Credit_Utilization_Ratio_bin,"(32.225, 36.298]",-0.041616,NaN,NaN
35,Credit_Utilization_Ratio_bin,"(36.298, 49.565]",0.118215,NaN,NaN
36,Total_EMI_per_month_bin,"(4.864999999999999, 39.269]",0.186069,NaN,NaN
37,Total_EMI_per_month_bin,"(39.269, 75.585]",-0.038378,NaN,NaN
38,Total_EMI_per_month_bin,"(75.585, 161.488]",-0.074114,NaN,NaN
39,Total_EMI_per_month_bin,"(161.488, 82122.0]",-0.077376,NaN,NaN
40,Num_Bank_Accounts_bin,"(-0.001, 4.0]",0.982208,0.184315,13.0
41,Num_Bank_Accounts_bin,"(4.0, 6.0]",-0.023352,0.184315,19.0
42,Num_Bank_Accounts_bin,"(6.0, 7.0]",-0.787591,0.184315,23.0
43,Num_Bank_Accounts_bin,"(7.0, 10.0]",-1.289674,0.184315,25.0
44,Num_Bank_Accounts_bin,Missing,0.611669,0.184315,15.0
45,Num_Credit_Card_bin,"(0.999, 4.0]",0.920094,0.342532,9.0
46,Num_Credit_Card_bin,"(4.0, 6.0]",-0.058489,0.342532,19.0
47,Num_Credit_Card_bin,"(6.0, 7.0]",-0.020748,0.342532,19.0
48,Num_Credit_Card_bin,"(7.0, 10.0]",-2.922224,0.342532,47.0
49,Num_Credit_Card_bin,Missing,0.013485,0.342532,18.0
50,Interest_Rate_bin,"(0.999, 8.0]",1.212605,0.514895,0.0
51,Interest_Rate_bin,"(8.0, 15.0]",0.621486,0.514895,9.0
52,Interest_Rate_bin,"(15.0, 21.0]",-0.649659,0.514895,28.0
53,Interest_Rate_bin,"(21.0, 34.0]",-2.824109,0.514895,60.0
54,Interest_Rate_bin,Missing,0.148126,0.514895,16.0
55,Delay_from_due_date_bin,"(-4.001, 10.0]",1.268629,0.370126,5.0
56,Delay_from_due_date_bin,"(10.0, 19.0]",0.354400,0.370126,15.0
57,Delay_from_due_date_bin,"(19.0, 29.0]",-0.425082,0.370126,23.0
58,Delay_from_due_date_bin,"(29.0, 67.0]",-1.982853,0.370126,40.0
59,Amount_invested_monthly_bin,"(-0.001, 71.415]",-0.470435,NaN,NaN
60,Amount_invested_monthly_bin,"(71.415, 129.42]",-0.015764,NaN,NaN
61,Amount_invested_monthly_bin,"(129.42, 247.885]",0.130850,NaN,NaN
62,Amount_invested_monthly_bin,"(247.885, 10000.0]",0.322014,NaN,NaN
63,Monthly_Balance_bin,"(0.907, 267.848]",-0.556256,NaN,NaN
64,Monthly_Balance_bin,"(267.848, 330.162]",-0.364951,NaN,NaN
65,Monthly_Balance_bin,"(330.162, 454.617]",0.140316,NaN,NaN
66,Monthly_Balance_bin,"(454.617, 1552.946]",0.712941,NaN,NaN
67,Changed_Credit_Limit_bin,"(-6.391, 5.78]",0.454473,NaN,NaN
68,Changed_Credit_Limit_bin,"(5.78, 9.74]",0.245406,NaN,NaN
69,Changed_Credit_Limit_bin,"(9.74, 15.44]",0.130850,NaN,NaN
70,Changed_Credit_Limit_bin,"(15.44, 34.81]",-0.987433,NaN,NaN
71,Credit_History_Age_bin,"(-0.001, 15.0]",-1.453686,NaN,NaN
72,Credit_History_Age_bin,"(15.0, 21.0]",-0.307136,NaN,NaN
73,Credit_History_Age_bin,"(21.0, 28.0]",0.525575,NaN,NaN
74,Credit_History_Age_bin,"(28.0, 41.0]",1.156643,NaN,NaN
75,Occupation,Accountant,0.033319,0.944933,18.0
76,Occupation,Architect,0.027206,0.944933,18.0
77,Occupation,Developer,0.068882,0.944933,17.0
78,Occupation,Doctor,0.047131,0.944933,17.0
79,Occupation,Engineer,-0.047678,0.944933,20.0
80,Occupation,Entrepreneur,0.112783,0.944933,15.0
81,Occupation,Journalist,-0.158572,0.944933,23.0
82,Occupation,Lawyer,0.064208,0.944933,17.0
83,Occupation,Manager,-0.002208,0.944933,19.0
84,Occupation,Mechanic,-0.143123,0.944933,22.0
85,Occupation,Media_Manager,0.172623,0.944933,14.0
86,Occupation,Musician,-0.045684,0.944933,20.0
87,Occupation,Scientist,-0.032912,0.944933,19.0
88,Occupation,Teacher,0.009380,0.944933,18.0
89,Occupation,Writer,-0.097930,0.944933,21.0
90,Occupation,_______,-0.044100,0.944933,20.0
91,Type_of_Loan,Auto Loan,0.033956,-0.066199,19.0
92,Type_of_Loan,Credit-Builder Loan,0.270787,-0.066199,19.0
93,Type_of_Loan,Debt Consolidation Loan,0.289818,-0.066199,19.0
94,Type_of_Loan,Home Equity Loan,0.642094,-0.066199,20.0
95,Type_of_Loan,Mortgage Loan,-0.384238,-0.066199,18.0
96,Type_of_Loan,Payday Loan,0.937176,-0.066199,20.0
97,Type_of_Loan,Personal Loan,0.535771,-0.066199,20.0
98,Type_of_Loan,Student Loan,-0.029259,-0.066199,18.0
99,Credit_Mix,Good,2.077306,NaN,NaN
100,Credit_Mix,Poor,-1.764292,NaN,NaN
101,Credit_Mix,Standard,-0.063333,NaN,NaN
102,Payment_of_Min_Amount,NM,0.016735,NaN,NaN
103,Payment_of_Min_Amount,No,1.320621,NaN,NaN
104,Payment_of_Min_Amount,Yes,-0.842997,NaN,NaN
105,Payment_Behaviour,!@9#%8,0.164655,NaN,NaN
106,Payment_Behaviour,High_spent_Large_value_payments,0.247298,NaN,NaN
107,Payment_Behaviour,High_spent_Medium_value_payments,0.140798,NaN,NaN
108,Payment_Behaviour,High_spent_Small_value_payments,-0.062497,NaN,NaN
109,Payment_Behaviour,Low_spent_Large_value_payments,-0.000810,NaN,NaN
110,Payment_Behaviour,Low_spent_Medium_value_payments,-0.009698,NaN,NaN
111,Payment_Behaviour,Low_spent_Small_value_payments,-0.281009,NaN,NaN

## **5.2 Predict the Credit Score**
---

In order to predict the credit score from an input, we must create the points map dictionary in this case.

To dump the credit score and the points map dictionary, update the configuration file.

In [17]:
# Update the config file 
CONFIG_DATA = utils.load_config()
CONFIG_DATA

{'raw_data_path': 'data/raw/credit_dataset.csv',
 'data_path': 'data/output/data.pkl',
 'predictors_set_path': 'data/output/predictors.pkl',
 'target_set_path': 'data/output/target.pkl',
 'train_path': ['data/output/X_train.pkl', 'data/output/y_train.pkl'],
 'test_path': ['data/output/X_test.pkl', 'data/output/y_test.pkl'],
 'data_train_path': 'data/output/data_train.pkl',
 'data_train_binned_path': 'data/output/data_train_binned.pkl',
 'crosstab_list_path': 'data/output/crosstab_list.pkl',
 'WOE_table_path': 'data/output/WOE_table.pkl',
 'IV_table_path': 'data/output/IV_table.pkl',
 'WOE_map_dict_path': 'data/output/WOE_map_dict.pkl',
 'X_train_woe_path': 'data/output/X_train_woe.pkl',
 'target_variable': 'Credit_Score',
 'test_size': 0.3,
 'num_columns': ['Age',
  'Annual_Income',
  'Num_of_Loan',
  'Num_of_Delayed_Payment',
  'Outstanding_Debt',
  'Monthly_Inhand_Salary',
  'Num_Credit_Inquiries',
  'Credit_Utilization_Ratio',
  'Total_EMI_per_month',
  'Num_Bank_Accounts',
  'Num_Credit_Card',
  'Interest_Rate',
  'Delay_from_due_date',
  'Amount_invested_monthly',
  'Monthly_Balance',
  'Changed_Credit_Limit',
  'Credit_History_Age'],
 'cat_columns': ['Occupation',
  'Type_of_Loan',
  'Credit_Mix',
  'Payment_of_Min_Amount',
  'Payment_Behaviour'],
 'missing_columns': ['Age_bin',
  'Num_Bank_Accounts_bin',
  'Num_Credit_Card_bin',
  'Interest_Rate_bin',
  'Num_of_Loan_bin',
  'Num_of_Delayed_Payment_bin',
  'Num_Credit_Inquiries_bin',
  'Monthly_Balance_bin'],
 'num_of_bins': 4,
 'num_of_cv': 10,
 'scoring': 'recall',
 'forward_models_path': 'models/forward_models.pkl',
 'best_predictors_path': 'models/best_predictors_path.pkl',
 'best_model_path': 'models/best_model.pkl',
 'best_model_summary_path': 'models/best_model_summary.pkl',
 'pdo': 20,
 'score_ref': 300,
 'odds_ref': 30,
 'scorecards_path': 'models/scorecards.pkl',
 'points_map_dict_path': 'models/points_map_dict.pkl',
 'X_points_path': 'models/X_points.pkl',
 'X_train_points_path': 'models/X_train_points.pkl',
 'score_path': 'models/score_path.pkl',
 'cutoff_score': 150,
 'columns_': ['person_age_bin',
  'person_income_bin',
  'person_emp_length_bin',
  'loan_amnt_bin',
  'loan_int_rate_bin',
  'loan_percent_income_bin',
  'cb_person_cred_hist_length_bin',
  'person_home_ownership',
  'loan_intent',
  'loan_grade',
  'cb_person_default_on_file']}

In [18]:
# Create the dict function for the Points map.
def get_points_map_dict():
    """Create the dict function for the Points map."""
    # Load the Scorecards table
    scorecards = utils.load_pickle(CONFIG_DATA['scorecards_path'])

    # Set the dictionary to start.
    points_map_dict = {}
    points_map_dict['Missing'] = {}
    unique_char = set(scorecards['Characteristic'])
    for char in unique_char:
        # Obtain the WOE and attribute information for each characteristic.
        current_data = (scorecards
                            [scorecards['Characteristic']==char]     # Filter based on characteristic
                            [['Attribute', 'Points']])                 # Then select the attribute & WOE
        
        # Get the mapping
        points_map_dict[char] = {}
        for idx in current_data.index:
            attribute = current_data.loc[idx, 'Attribute']
            points = current_data.loc[idx, 'Points']

            if attribute == 'Missing':
                points_map_dict['Missing'][char] = points
            else:
                points_map_dict[char][attribute] = points
                points_map_dict['Missing'][char] = np.nan

    # Validation data
    print('Number of key : ', len(points_map_dict.keys()))

    # Dump
    utils.dump_pickle(points_map_dict, CONFIG_DATA['points_map_dict_path'])

    return points_map_dict

In [19]:
get_points_map_dict()

Number of key :  23

{'Missing': {'Amount_invested_monthly_bin': nan,
  'Payment_Behaviour': nan,
  'Monthly_Balance_bin': nan,
  'Type_of_Loan': nan,
  'Outstanding_Debt_bin': nan,
  'Credit_Utilization_Ratio_bin': nan,
  'Payment_of_Min_Amount': nan,
  'Num_Credit_Inquiries_bin': nan,
  'Interest_Rate_bin': 16.0,
  'Monthly_Inhand_Salary_bin': nan,
  'Annual_Income_bin': nan,
  'Age_bin': 18.0,
  'Num_Bank_Accounts_bin': 15.0,
  'Total_EMI_per_month_bin': nan,
  'Num_of_Delayed_Payment_bin': 15.0,
  'Credit_History_Age_bin': nan,
  'Occupation': nan,
  'Num_Credit_Card_bin': 18.0,
  'Num_of_Loan_bin': 20.0,
  'Changed_Credit_Limit_bin': nan,
  'Delay_from_due_date_bin': nan,
  'Credit_Mix': nan},
 'Amount_invested_monthly_bin': {Interval(-0.001, 71.415, closed='right'): nan,
  Interval(71.415, 129.42, closed='right'): nan,
  Interval(129.42, 247.885, closed='right'): nan,
  Interval(247.885, 10000.0, closed='right'): nan},
 'Payment_Behaviour': {'!@9#%8': nan,
  'High_spent_Large_value_payments': nan,
  'High_spent_Medium_value_payments': nan,
  'High_spent_Small_value_payments': nan,
  'Low_spent_Large_value_payments': nan,
  'Low_spent_Medium_value_payments': nan,
  'Low_spent_Small_value_payments': nan},
 'Monthly_Balance_bin': {Interval(0.907, 267.848, closed='right'): nan,
  Interval(267.848, 330.162, closed='right'): nan,
  Interval(330.162, 454.617, closed='right'): nan,
  Interval(454.617, 1552.946, closed='right'): nan},
 'Type_of_Loan': {'Auto Loan': 19.0,
  'Credit-Builder Loan': 19.0,
  'Debt Consolidation Loan': 19.0,
  'Home Equity Loan': 20.0,
  'Mortgage Loan': 18.0,
  'Payday Loan': 20.0,
  'Personal Loan': 20.0,
  'Student Loan': 18.0},
 'Outstanding_Debt_bin': {Interval(0.229, 603.87, closed='right'): nan,
  Interval(603.87, 1237.12, closed='right'): nan,
  Interval(1237.12, 2094.49, closed='right'): nan,
  Interval(2094.49, 4998.07, closed='right'): nan},
 'Credit_Utilization_Ratio_bin': {Interval(21.705, 28.142, closed='right'): nan,
  Interval(28.142, 32.225, closed='right'): nan,
  Interval(32.225, 36.298, closed='right'): nan,
  Interval(36.298, 49.565, closed='right'): nan},
 'Payment_of_Min_Amount': {'NM': nan, 'No': nan, 'Yes': nan},
 'Num_Credit_Inquiries_bin': {Interval(-0.001, 2.0, closed='right'): nan,
  Interval(2.0, 4.0, closed='right'): nan,
  Interval(4.0, 8.0, closed='right'): nan,
  Interval(8.0, 12.0, closed='right'): nan},
 'Interest_Rate_bin': {Interval(0.999, 8.0, closed='right'): 0.0,
  Interval(8.0, 15.0, closed='right'): 9.0,
  Interval(15.0, 21.0, closed='right'): 28.0,
  Interval(21.0, 34.0, closed='right'): 60.0},
 'Monthly_Inhand_Salary_bin': {Interval(319.555, 1587.629, closed='right'): 20.0,
  Interval(1587.629, 3012.665, closed='right'): 18.0,
  Interval(3012.665, 5796.608, closed='right'): 19.0,
  Interval(5796.608, 15167.18, closed='right'): 17.0},
 'Annual_Income_bin': {Interval(7005.929, 18921.78, closed='right'): 21.0,
  Interval(18921.78, 36346.13, closed='right'): 18.0,
  Interval(36346.13, 70112.78, closed='right'): 19.0,
  Interval(70112.78, 23658189.0, closed='right'): 16.0},
 'Age_bin': {Interval(13.999, 24.0, closed='right'): 21.0,
  Interval(24.0, 33.0, closed='right'): 19.0,
  Interval(33.0, 41.0, closed='right'): 20.0,
  Interval(41.0, 55.0, closed='right'): 14.0},
 'Num_Bank_Accounts_bin': {Interval(-0.001, 4.0, closed='right'): 13.0,
  Interval(4.0, 6.0, closed='right'): 19.0,
  Interval(6.0, 7.0, closed='right'): 23.0,
  Interval(7.0, 10.0, closed='right'): 25.0},
 'Total_EMI_per_month_bin': {Interval(4.864999999999999, 39.269, closed='right'): nan,
  Interval(39.269, 75.585, closed='right'): nan,
  Interval(75.585, 161.488, closed='right'): nan,
  Interval(161.488, 82122.0, closed='right'): nan},
 'Num_of_Delayed_Payment_bin': {Interval(-3.001, 9.0, closed='right'): 11.0,
  Interval(9.0, 14.0, closed='right'): 16.0,
  Interval(14.0, 18.0, closed='right'): 22.0,
  Interval(18.0, 887.0, closed='right'): 27.0},
 'Credit_History_Age_bin': {Interval(-0.001, 15.0, closed='right'): nan,
  Interval(15.0, 21.0, closed='right'): nan,
  Interval(21.0, 28.0, closed='right'): nan,
  Interval(28.0, 41.0, closed='right'): nan},
 'Occupation': {'Accountant': 18.0,
  'Architect': 18.0,
  'Developer': 17.0,
  'Doctor': 17.0,
  'Engineer': 20.0,
  'Entrepreneur': 15.0,
  'Journalist': 23.0,
  'Lawyer': 17.0,
  'Manager': 19.0,
  'Mechanic': 22.0,
  'Media_Manager': 14.0,
  'Musician': 20.0,
  'Scientist': 19.0,
  'Teacher': 18.0,
  'Writer': 21.0,
  '_______': 20.0},
 'Num_Credit_Card_bin': {Interval(0.999, 4.0, closed='right'): 9.0,
  Interval(4.0, 6.0, closed='right'): 19.0,
  Interval(6.0, 7.0, closed='right'): 19.0,
  Interval(7.0, 10.0, closed='right'): 47.0},
 'Num_of_Loan_bin': {Interval(0.999, 2.0, closed='right'): 13.0,
  Interval(2.0, 4.0, closed='right'): 14.0,
  Interval(4.0, 6.0, closed='right'): 29.0,
  Interval(6.0, 10.0, closed='right'): 31.0},
 'Changed_Credit_Limit_bin': {Interval(-6.391, 5.78, closed='right'): nan,
  Interval(5.78, 9.74, closed='right'): nan,
  Interval(9.74, 15.44, closed='right'): nan,
  Interval(15.44, 34.81, closed='right'): nan},
 'Delay_from_due_date_bin': {Interval(-4.001, 10.0, closed='right'): 5.0,
  Interval(10.0, 19.0, closed='right'): 15.0,
  Interval(19.0, 29.0, closed='right'): 23.0,
  Interval(29.0, 67.0, closed='right'): 40.0},
 'Credit_Mix': {'Good': nan, 'Poor': nan, 'Standard': nan}}

Next, convert the unprocessed input data into points for scoring.

In [20]:
def transform_points(raw_data=None, type=None, CONFIG_DATA=None):
    """Swap out the data value for points."""
    # Load the numerical columns
    num_cols = CONFIG_DATA['num_columns']

    # Load the points_map_dict
    points_map_dict = utils.load_pickle(CONFIG_DATA['points_map_dict_path'])

    # Load the saved data if type is not None
    if type is not None:
        raw_data = utils.load_pickle(CONFIG_DATA[f'{type}_path'][0])

    # Map the data
    points_data = raw_data.copy()
    for col in points_data.columns:
        # Fix numerical columns
        if col in num_cols:
            map_col = col + '_bin'
        else:
            map_col = col    

        points_data[col] = points_data[col].map(points_map_dict[map_col])

    # If a value is missing or outside of the range, map the data.
    for col in points_data.columns:
        if col in num_cols:
            map_col = col + '_bin'
        else:
            map_col = col 

        points_data[col] = points_data[col].fillna(value=points_map_dict['Missing'][map_col])

    # Dump data
    if type is not None:
        utils.dump_pickle(points_data, CONFIG_DATA[f'X_{type}_points_path'])

    return points_data

In [ ]:
X_train_points = transform_points(type='train', CONFIG_DATA=CONFIG_DATA)

X_train_points

Next, include a function that determines the credit score.

To dump the credit score, update the configuration file.

In [22]:
# Update the config file 
CONFIG_DATA = utils.load_config()
CONFIG_DATA

{'raw_data_path': 'data/raw/credit_dataset.csv',
 'data_path': 'data/output/data.pkl',
 'predictors_set_path': 'data/output/predictors.pkl',
 'target_set_path': 'data/output/target.pkl',
 'train_path': ['data/output/X_train.pkl', 'data/output/y_train.pkl'],
 'test_path': ['data/output/X_test.pkl', 'data/output/y_test.pkl'],
 'data_train_path': 'data/output/data_train.pkl',
 'data_train_binned_path': 'data/output/data_train_binned.pkl',
 'crosstab_list_path': 'data/output/crosstab_list.pkl',
 'WOE_table_path': 'data/output/WOE_table.pkl',
 'IV_table_path': 'data/output/IV_table.pkl',
 'WOE_map_dict_path': 'data/output/WOE_map_dict.pkl',
 'X_train_woe_path': 'data/output/X_train_woe.pkl',
 'target_variable': 'Credit_Score',
 'test_size': 0.3,
 'num_columns': ['Age',
  'Annual_Income',
  'Num_of_Loan',
  'Num_of_Delayed_Payment',
  'Outstanding_Debt',
  'Monthly_Inhand_Salary',
  'Num_Credit_Inquiries',
  'Credit_Utilization_Ratio',
  'Total_EMI_per_month',
  'Num_Bank_Accounts',
  'Num_Credit_Card',
  'Interest_Rate',
  'Delay_from_due_date',
  'Amount_invested_monthly',
  'Monthly_Balance',
  'Changed_Credit_Limit',
  'Credit_History_Age'],
 'cat_columns': ['Occupation',
  'Type_of_Loan',
  'Credit_Mix',
  'Payment_of_Min_Amount',
  'Payment_Behaviour'],
 'missing_columns': ['Age_bin',
  'Num_Bank_Accounts_bin',
  'Num_Credit_Card_bin',
  'Interest_Rate_bin',
  'Num_of_Loan_bin',
  'Num_of_Delayed_Payment_bin',
  'Num_Credit_Inquiries_bin',
  'Monthly_Balance_bin'],
 'num_of_bins': 4,
 'num_of_cv': 10,
 'scoring': 'recall',
 'forward_models_path': 'models/forward_models.pkl',
 'best_predictors_path': 'models/best_predictors_path.pkl',
 'best_model_path': 'models/best_model.pkl',
 'best_model_summary_path': 'models/best_model_summary.pkl',
 'pdo': 20,
 'score_ref': 300,
 'odds_ref': 30,
 'scorecards_path': 'models/scorecards.pkl',
 'points_map_dict_path': 'models/points_map_dict.pkl',
 'X_points_path': 'models/X_points.pkl',
 'X_train_points_path': 'models/X_train_points.pkl',
 'score_path': 'models/score_path.pkl',
 'cutoff_score': 150,
 'columns_': ['person_age_bin',
  'person_income_bin',
  'person_emp_length_bin',
  'loan_amnt_bin',
  'loan_int_rate_bin',
  'loan_percent_income_bin',
  'cb_person_cred_hist_length_bin',
  'person_home_ownership',
  'loan_intent',
  'loan_grade',
  'cb_person_default_on_file']}

In [23]:
# Predictive function for credit score
def predict_score(raw_data, CONFIG_DATA):
    """Predictive function for credit score"""
    
    points = transform_points(raw_data = raw_data, 
                              type = None, 
                              CONFIG_DATA = CONFIG_DATA)
    
    score = int(points.sum(axis=1))

    # print(f"Credit Score : ", score)
    
    # cutoff_score = CONFIG_DATA['cutoff_score']

    # if score > cutoff_score:
    #     print("Recommendation : APPROVE")
    # else:
    #     print("Recommendation : REJECT")

    utils.dump_pickle(score, CONFIG_DATA['score_path'])

    return score

In [24]:
# Test the function using the input of raw data.
tes_input = {
    'Age' : 23,
    'Annual_Income' : 19000,
    'Num_of_Loan' : 4,
    'Num_of_Delayed_Payment' : 7,
    'Outstanding_Debt' : 810,
    'Monthly_Inhand_Salary' : 1825,
    'Num_Credit_Inquiries' : 4,
    'Credit_Utilization_Ratio' : 26.8,
    'Total_EMI_per_month' : 49.5,
    'Num_Bank_Accounts' : 3,
    'Num_Credit_Card' : 4,
    'Interest_Rate' : 3,
    'Delay_from_due_date' : 3,
    'Amount_invested_monthly' : 80,
    'Monthly_Balance' : 312,
    'Changed_Credit_Limit' : 11.27,
    'Credit_History_Age' : 23,
    'Occupation' : 'Scientist',
    'Type_of_Loan' : 'Auto Loan',
    'Credit_Mix' : 'Good',
    'Payment_of_Min_Amount' : 'No',
    'Payment_Behaviour' : 'High_spent_Small_value_payments',
}

tes = pd.DataFrame(tes_input, index=[0])

tes

,Age,Annual_Income,Num_of_Loan,Num_of_Delayed_Payment,Outstanding_Debt,Monthly_Inhand_Salary,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month,Num_Bank_Accounts,...,Delay_from_due_date,Amount_invested_monthly,Monthly_Balance,Changed_Credit_Limit,Credit_History_Age,Occupation,Type_of_Loan,Credit_Mix,Payment_of_Min_Amount,Payment_Behaviour
0,23,19000,4,7,810,1825,4,26.8,49.5,3,...,3,80,312,11.27,23,Scientist,Auto Loan,Good,No,High_spent_Small_value_payments

In [25]:
# Predict the credit score
predict_score(raw_data=tes, CONFIG_DATA=CONFIG_DATA)

147